*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;

} 
:root {
    --bg-color: #161416;
    --text-color: #fdfdfd;
    --main-color: #e20e8a;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .2);
}    

body {
    background: var(--bg-color);
    color: var(--text-color);
}    
    
html {
    font-size: 62.5%;
    overflow-x: hidden;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background:  transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .5s;
}

.header.sticky {
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem var(--shadow-color);
}
 .logo {
    font-size: 3rem;
    color: white;
    font-weight: 500;
    cursor: default;
    margin-right: auto;
}

.navbar a {
    position: relative;
    font-size: 2rem;
    color: var(--white-color);
    font-weight: normal;
    margin-right: 3.5rem;
    background: transparent;
    -webkit-text-fill-color: white;

}

.header.sticky .navbar a {
    color: var(--text-color);
}

.header.sticky .navbar a.active {
    color: var(--main-color);

}

.navbar a.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--white-color);
}

section {
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}
.home {
    display: flex;
    align-items: center;
    text-align: left;
}
.home .home-content {
    max-width: 44rem;
}
.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: .3;
}

.home-content h1 {
    font-size: 4.6rem;
    font-weight: 700;
    margin-bottom: .3rem;
}

.home-content p {
    font-size: 1.6rem;
}
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var linear-gradient(45deg, rgb(2, 75, 47), rgb(95, 3, 107));
    font-size: 2rem;
    color: var(--main-color);
    margin: 2.5rem 1.5rem  3rem 0;
    transition: .5s ease;    
    
} 
.social-media a:hover {
    background: linear-gradient(45deg, #3f012c,rgb(119, 0, 255));
    color: var(--white-color);
}

.btn {
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--main-color);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--white-color);
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid transparent;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
}

.home .profession-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 768px;
    height: 768px;
    overflow: hidden;
    pointer-events: none;
}

.home .profession-container .profession-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 768px;
    height: 768px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .home .profession-box .profession {
    position: absolute;
    left: 0%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--main-color);
    transform: rotate(calc(360deg / 4 * var(--i)));
    transform-origin: 384px;
    background: var(--bg-color);
    padding: 13px 0;
 }

.home .profession-box .profession:nth-child(1) i {
    margin-right: 15px;
}

.home .profession-box .profession:nth-child(2),
.home .profession-box .profession:nth-child(4) {
    padding-bottom: 20px;
}

.home .profession i {
    font-size: 3.8rem;
}

.home .profession h3 {
    font-size: 3.2rem;
    line-height: 1;
    font-weight: 600;
}

.home .profession-box .circle {
    width: 560px;
    height: 560px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
}

.home .profession-container .overlay {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 0%;
    height: 0%;
    border-top: 384px solid var(--main-color);
    border-right: 384px solid var(--main-color);
    border-bottom: 384px solid var(--main-color);
    border-left: 384px solid transparent;
}

.home-img img {
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: 43%;
    pointer-events: none;
}

span {
    color: var(--main-color);
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background: gray;
}

.about-img img {
    width: 40vw;
}

.heading {
    font-size: 4.5rem;
    text-align: center;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 3rem;
}
.about-content p {
    font-size: 2.5rem;
    margin: 2rem 0 3rem;
}

.A{
    display: inline-block;
    margin: 2rem;
    max-width:800px;
    height:90px;
    background-color: transparent;
    padding:20px;
    color:white;	
    font-size:20px;
}

.about-video {
    align-items: center;
   
}

.text-top-video{
    color: white;
    font-size: 20px;
    text-align: right;
    position: absolute;
    margin: 15%;
    padding: 35px;
    margin-top: -10%;
}

.footer {
    background: transparent;
    color: var(--text-color);
    padding: 2rem 7%;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

@media only screen and (max-width: 600px){
    .header {
        padding: 2rem 5%;
    }

    .home-text h1 {
        font-size: 50px;
        margin-top: 50px;
        margin-left: 10%;
    }
}
























